<section class="orders-show">

  <header class="page-header">
    <h1>Thank you for your order!</h1>
  </header>
  
  <div class="order-summary jumbotron">
    <h4>Order <%= @order.id %> Summary (Receipt sent to: <%= @order.email %>)</h4>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Product</th>
          <th>Description</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
          <% @order.line_items.each do |line_item| %> 
            <tr>
              <td>
                <%= line_item.product.name %>
                <img class="product-review" src=<%= line_item.product.image %>>
              </td>
              <td><%= line_item.product.description %></td>
              <td><%= line_item.quantity %></td>
            </tr>
            <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="2">
            TOTAL:
          </th>
          <th>
          <%= number_to_currency(@order.total_cents) %>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
