<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>


  <% if current_user %>
    <%= form_for [@product, @product.review.create] do |form| %>
      Create Your Review
      <%= form.label :description %><br>
      <%= form.text_area :description %><br>

      <%= form.label :rating %><br>
      <%= radio_button_tag(:rating, '1') %>
      <%= radio_button_tag(:rating, '2') %>
      <%= radio_button_tag(:rating, '3') %>
      <%= radio_button_tag(:rating, '4') %>
      <%= radio_button_tag(:rating, '5') %>
      <br>
      <%= label_tag(:rating, "1") %>
      <%= label_tag(:rating, "2") %>
      <%= label_tag(:rating, "3") %>
      <%= label_tag(:rating, "4") %>
      <%= label_tag(:rating, "5") %>
      <%= form.submit 'Submit Review', class: 'btn btn-primary' %>
    <% end %>
  <% else %>
      Register and/or log in to leave a review on this item!
      <br><br>
  <% end %>

    <div class="row">
    Other Users Reviews
    <% if current_user %>
      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <% @review.reverse_each do |review| %>
            <dt>User</dt>
            <dd><%= review.user.first_name %></dd>
            <dt>Review</dt>
            <dd><%= review.description %></dd>
            <dt>Rating</dt>
            <dd><%= review.rating %></dd>
            <% if current_user.id == review.user.id %>
              <dd><%= button_to 'Delete Comment', product_review_path(@product, @review), :method => :delete, data:{ confirm: 'Are you sure?' }%></dd>
            <% end %>
      <% end %>
        </dl>
      </div> 
    <% end %>
  </div>

  </article>

</section>
